@import "../../styles/_mixins"
@import "../../styles/_variable"

.info
    max-width: 1384px
    background-color: #fff
    border-radius: 12px
    padding: 24px
    margin: -100px auto 30px auto
    position: relative
    z-index: 10

.titleBlock
    display: flex
    gap: 12px
    margin-bottom: 10px
    align-items: center

.titleDeco
    width: 4px
    height: 16px
    background-color: $orange700

.title
    @include body5Bold
    color: $gray1000

.noData
    height: 458px
    border-radius: 6px
    border: 1px solid #CCCCCC
    color: $gray700
    display: flex
    align-items: center
    justify-content: center

@media screen and (max-width:1200px)
    .info
        width: 90%

@media screen and (max-width:768px)
    .info
        width: 100%
        border-radius: 0px
        margin: -30px auto 30px auto
    .title
        @include body4Bold
