.info
    max-width: 1384px
    background-color: #fff
    border-radius: 12px
    padding: 24px
    margin: -100px auto 30px auto
    position: relative
    z-index: 10


.titleBlock
    display: flex
    gap: 12px 
    margin-bottom: 10px
    align-items: center   

.titleDeco
    width: 4px
    height: 16px
    background-color: #EE8927

.title
    font-weight: 700
    color: #4D4D4D
    line-height: 30px
    font-size: 24px 

@media screen and (max-width:1200px) 
    .info
        width: 90%    

@media screen and (max-width:768px) 
    .info
        width: 100%
        border-radius: 0px
        margin: -30px auto 30px auto


