@mixin body5
    font-family: "Noto Sans TC"
    font-size: 1.5rem
    font-weight: 400
    line-height: 30px

@mixin body5Bold
    font-family: "Noto Sans TC"
    font-size: 1.5rem
    font-weight: 700
    line-height: 30px

@mixin body4Bold
    font-family: "Noto Sans TC"
    font-size: 20px
    font-weight: 700
    line-height: 25px

@mixin body3
    font-family: "Noto Sans TC"
    font-size: 1rem
    font-weight: 400
    line-height: 20px

@mixin body3Bold
    font-family: "Noto Sans TC"
    font-size: 16px
    font-weight: 700
    line-height: 20px

@mixin body2
    font-family: "Noto Sans TC"
    font-size: 14px
    font-weight: 400
    line-height: 17.5px

@mixin body2Bold
    font-family: "Noto Sans TC"
    font-size: 14px
    font-weight: 700
    line-height: 17.5px
