.jobContainer
    width: 1336px
    height: 458px
    border: 1px solid #CCCCCC
    border-radius: 6px
    display: flex
    justify-content: center
    align-items: center
    p
        color: #999999


