.pageLayout
    position: relative


// 輪播圖css

.slick-slider
    padding: 0
        
.slick-slide
    padding: 0px 5px 

.slick-list
    margin:  0 -5px

.slick-slide img 
  display: block
  max-width: 100%
  height: auto 
  margin: auto 



.slick-dots li.slick-active button:before
    content: '' 
    background: #EE8927
    width: 24px
    height: 5px
    border-radius: 20px
    position: absolute
    top: 8px


