.pageLayout
    position: relative
.banner    
    position: absolute

.info
    position: absolute
    top: 701px
    padding: 24px


// 輪播圖css

.slick-slider
    padding: 0
        
.slick-slide
    padding: 0px 5px 

.slick-list
    margin:  0 -5px

.slick-slide img 
  display: block
  max-width: 100%
  height: auto 
  margin: auto 



.slick-dots li.slick-active button:before
    content: '' 
    background: orange
    width: 120%
    height: 8px
    border-radius: 20px
    position: absolute
    top: 6px


