@import 'src/styles/_variable.sass'
@import 'src/styles/_mixins.sass'

.jobCardInfo
    @include body2
    color: $gray800

.jobCardJobPreview
    @include body2
    color: $gray1000

.jobCardCompanyName
    color: $gray1000
    @include body5Bold

.jobTitle,.jobEducation,.jobSalary
    display: flex
    gap: 6px

.buttonDetail
    color: $orange700

@media screen and (max-width:768px)
    .jobCardCompanyName
        @include body3Bold
